.gradient-wrapper {
  padding: 10px;
  border-radius: 50%;
  display: inline-block;
  /* background: yellow;
  background: -webkit-linear-gradient(yellow, white);
  background: -o-linear-gradient(yellow, white);
  background: -moz-linear-gradient(yellow, white);
  background: linear-gradient(yellow, white); */
  background: linear-gradient(
      117.93deg,
      rgb(241, 127, 190) -8.05%,
      rgb(128, 209, 244) 115.75%
    ),
    #ffffff;
}

/* Position fixes... */

@media only screen and (min-width: 800px) {
  .particles-size {
    height: 900px;
  }
}

@media only screen and (min-width: 800px) {
  .canvas-positioning {
    width: 100%;
    /* align-items: center; */
    /* justify-content: center; */

    position: absolute;

    /* margin-top: 5%; */
  }
}

@media only screen and (max-width: 800px) {
  .ancestor-spacing {
    padding: 5%;
    margin-top: 5%;
  }
}

/* Icons and its animations... */

.linkedin {
  background: #fff;
  color: #0e76a8;
  transition: 0.3s;
}

.linkedin:hover {
  background: #0e76a8;
  color: #fff;
}

/* GRID STUFF... DON'T TOUCH IT, UNLESS YOU KNOW WHAT YOU'RE DOING! */

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 66.13%;
}
.span_1_of_3 {
  width: 32.26%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
  .span_3_of_3,
  .span_2_of_3,
  .span_1_of_3 {
    width: 100%;
  }
}
