body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.hero-top {
  position: relative;
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  
  /* background-color: #212529; could go on .outer-container as well */
}

.hero-top .particles-content {
  position: relative;
  z-index: 1;
  background-color: transparent;
  /* min-height: 800px; */
  min-height: 700px;
}

.card-image-i {
  /* object-fit: cover; */
  aspect-ratio: 4/3;
  /* height: 100px; */
}

.img-top {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.815);
}

.title-frentes {
  margin-top: 70px;
  margin-bottom: 8%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
}

.center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.frente-back {
  /* height: 100px; */
  width: 400px;

  background: linear-gradient(
      117.93deg,
      rgba(241, 127, 189, 0.26) -8.05%,
      rgba(128, 210, 244, 0.4) 115.75%
    ),
    #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.43);
  border-radius: 33px;

  text-align: center;
  padding-top: 2%;
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;

  margin-top: 20px;

  transition: 0.3s;
}

.frente-back h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.frente-back p {
  font-weight: lighter;
}

.frente-back:hover {
  /* height: 100px; */
  width: 400px;

  background: linear-gradient(
      117.93deg,
      rgba(241, 127, 189, 0.26) -8.05%,
      rgba(128, 210, 244, 0.4) 115.75%
    ),
    #ffffff;

  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.4);
  border-radius: 33px;

  text-align: center;
  padding-top: 2%;

  margin-top: 20px;
}

.eventos-img {
  width: 100%;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 1440px) {
  .frentes {
    margin-top: 20%;
    margin-bottom: 8%;
  }
}

@media only screen and (min-width: 1440px) {
  .frentes {
    margin-top: 8%;
    margin-bottom: 8%;
  }
}

@media only screen and (min-width: 1024px) {
  .right-margin-infos {
    margin-right: 10vw;
  }
}

/* Margin applied in between of all icons on the right of the main icon. */
/* Mobile-only */
@media only screen and (max-width: 480px) {
  .intro-infos {
    margin-bottom: 10vh;
  }
}

.eventos-title {
  /* background-color: #fff; */
  /* border-style: ridge; */
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 3px solid #ffffff;
}

.eventos-itens {
  background-color: #fff;
  padding: 10%;
  /* margin: 2%; */
}

.contato {
  margin-bottom: 10%;
}

.title-github {
  /* margin-top: 70px; */
  margin-bottom: 2%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

.button-options {
  border: 0;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;

  -webkit-box-shadow: 0px 6px 18px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 18px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 18px -7px rgba(0, 0, 0, 0.75);

  width: 250px;
  height: 90px;

  transition: 0.3s;
}

.button-options:hover {
  -webkit-box-shadow: 0px 12px 41px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 12px 41px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 12px 41px -7px rgba(0, 0, 0, 0.75);
}
/* 
@media only screen and (max-width: 1600px) {
  .has-bg-img {
    background: url("public/ICMC-MOBILE.jpeg") center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-color: linear-gradient(
      0deg,
      rgba(229, 229, 229, 1) 0%,
      rgba(229, 229, 229, 0) 50%,
      rgba(229, 229, 229, 1) 100%
    ); 
  }
}

@media only screen and (min-width: 1600px) {
  .has-bg-img {
    background: url("public/ICMC-DESKTOP.jpeg") center center;
    background-repeat: no-repeat;
    background-size: auto;
     
    background-color: linear-gradient(
      0deg,
      rgba(229, 229, 229, 1) 0%,
      rgba(229, 229, 229, 0) 50%,
      rgba(229, 229, 229, 1) 100%
    ); 
  }
} */

@media only screen and (min-width: 1024px) {
  .about-us-columns {
    width: 100%;
    align-items: center;
    justify-content: center;

    position: absolute;

    margin-top: 5%;
  }
}

@media only screen and (max-width: 1023px) {
  .about-us-columns {
    width: 100%;
    align-items: center;
    justify-content: center;

    /* position: absolute; */

    margin-top: 5%;
  }
}

/*---------------*/
/***** Ruby *****/
/*---------------*/

figure.effect-ruby {
  background-color: linear-gradient(
      117.93deg,
      rgb(241, 127, 190) -8.05%,
      rgb(128, 209, 244) 115.75%
    ),
    #ffffff;
}

figure.effect-ruby img {
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

figure.effect-ruby h2 {
  margin-top: 20%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

figure.effect-ruby p {
  margin: 1em 0 0;
  padding: 3em;
  border: 1px solid #fff;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0) scale(1.1);
  transform: translate3d(0, 20px, 0) scale(1.1);
}

/* Hover effects only work on desktop intentionally! */
@media only screen and (min-width: 1600px) {
  figure.effect-ruby:hover h2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  figure.effect-ruby:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
  }

  figure.effect-ruby:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* .grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
} */

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  /* width: 48%; */
  background: linear-gradient(
      117.93deg,
      rgb(241, 127, 190) -8.05%,
      rgb(128, 209, 244) 115.75%
    ),
    #ffffff;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.3;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media only screen and (min-width: 320px) {
  .grid figure figcaption h2 {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 768px) {
  .grid figure figcaption h2 {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1024px) {
  .grid figure figcaption h2 {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1900px) {
  .grid figure figcaption h2 {
    font-size: 2em;
  }
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 90%;
}

/* popup */

.popup {
  width: 100%;
  height: 100vh;
  display: none;

  position: fixed;
  top: 0;
  right: 0;
}

#popup-aulas:target {
  display: flex;
}

#popup-projetos:target {
  display: flex;
}

#popup-estudos:target {
  display: flex;
}

.popup:before {
  content: "";
  box-sizing: border-box;
  width: 100%;
  /* background-color: #fff; */
  background: linear-gradient(
      117.93deg,
      rgba(241, 127, 189, 0.26) -8.05%,
      rgba(128, 210, 244, 0.4) 115.75%
    ),
    #ffffff;

  position: fixed;
  left: 0;
  top: 50%;
  will-change: height, top;
  animation: open-animation 0.6s cubic-bezier(0.83, 0.04, 0, 1.16) 0.65s both;
}

.popup:after {
  content: "";
  width: 0;
  height: 2px;
  /* background-color: #000; */
  background: linear-gradient(
      117.93deg,
      rgba(241, 127, 189, 0.26) -8.05%,
      rgba(128, 210, 244, 0.4) 115.75%
    ),
    #ffffff;

  will-change: width, opacity;
  animation: line-animation 0.6s cubic-bezier(0.83, 0.04, 0, 1.16) both;

  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
}

@keyframes line-animation {
  0% {
    width: 0;
    opacity: 1;
  }

  99% {
    width: 100%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes open-animation {
  0% {
    height: 0;
    top: 50%;
  }

  100% {
    height: 100vh;
    top: 0;
  }
}

.popup__block {
  height: calc(100vh - 40px);
  padding: 5% 15%;
  box-sizing: border-box;
  position: relative;

  margin: auto;
  overflow: auto;
  animation: fade 0.5s ease-out 1.3s both;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.popup__title {
  font-size: 2.5rem;
  margin: 0 0 1em;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .popup__close {
    width: 2rem;
    height: 2rem;
    text-indent: -9999px;

    position: fixed;
    top: 20px;
    right: 20px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
  }
}

@media only screen and (min-width: 769px) {
  /* For mobile phones: */
  .popup__close {
    width: 3.2rem;
    height: 3.2rem;
    text-indent: -9999px;

    position: fixed;
    top: 20px;
    right: 20px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
  }
}

.frentes-font {
  font-size: larger;
}
