@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #2b2b2b;
    --secondary: #EC90C5;
    --background: #ffffff;
    --background-secondary: #f5f5f5;
    --button: #EC90C5;
    --button-text: #000000;
    --text-secondary: #444444;
    --dropdown: #e0e0e0;
    --dropdown-hover: #cccccc;
    --button-secondary: #f0f0f0;
    --selected: #d6deff;
    --link: #0318cc;

    --data-blue: #8CD2F4;
    --data-pink: #EC90C5;
    --data-purple: #AE6AB7;

    --font-inter: 'Inter', sans-serif;
    --font-brawler: 'Brawler', serif;
  }
  .dark {
    --primary: #f0f2fc;
    --secondary: #F9A1D3;
    --background: #121212;
    --background-secondary: #1b1b1b;
    --button: #F9A1D3;
    --button-text: #fff;
    --text-secondary: #bbbbbb;
    --dropdown: #2d2d2d;
    --dropdown-hover: #454545;
    --button-secondary: #1d1d1d;
    --selected: #324e70;

    --link: #9BD7F6;

    --data-blue: #9BD7F6;
    --data-pink: #F9A1D3;
    --data-purple: #C479CE;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  body {
    @apply bg-background text-primary;
    font-family: var(--font-inter);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-brawler);
  }
  h1 {
    font-size: 45pt;
    font-weight: 550;
    text-transform: uppercase;
    color: var(--primary);
  }

  h2 {
    font-size: 20pt;
    font-weight: 550;
    color: var(--primary);
    font-family: var(--font-inter)
  }
  p {
    @apply text-sm;
    font-size: 13pt;
  }
}

@layer components {
  .border-data-purple {
    border-color: var(--data-purple);
  }
  .text-data-purple {
    color: var(--data-purple);
  }
  .text-primary {
    color: var(--primary);
  }
  .text-data-pink {
    color: var(--data-pink);
  }
  .text-link {
    color: var(--link);
  }
  .float-animation {
    animation: float 10s ease-in-out infinite;
  }
  .text-description {
    font-size: 13pt;
  }
}
.overflow-x-hidden {
  overflow-x: hidden;
}
